<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729227367477-a2feo29gmcopoid9anb7gg5ld45c8f8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729227367477-a2feo29gmcopoid9anb7gg5ld45c8f8m</string>
	<key>API_KEY</key>
	<string>AIzaSyDq46L6XEeEKQ2jh-vY5U8ctvfq8U0-FwA</string>
	<key>GCM_SENDER_ID</key>
	<string>729227367477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coriander2</string>
	<key>PROJECT_ID</key>
	<string>coriander2-dcb54</string>
	<key>STORAGE_BUCKET</key>
	<string>coriander2-dcb54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729227367477:ios:fba80a26def65c8f7f8d7c</string>
</dict>
</plist>